
<section class="section-config">
  <app-fondeadores></app-fondeadores>
  <div class="d-flex">
    <div class="left-side">
      <app-aplicar-pagos></app-aplicar-pagos>
      <app-base-moratorios></app-base-moratorios>
      <app-ref-bancarias></app-ref-bancarias>
      <app-estatus-cartera></app-estatus-cartera>
    </div>
    <div class="right-side">
      <app-valores-default-fin></app-valores-default-fin>
      <app-liquidaciones></app-liquidaciones>
      <app-seguros-autos></app-seguros-autos>
      <app-config-lote-autos></app-config-lote-autos>
      <app-calif-buro></app-calif-buro>
    </div>
  </div>
</section>
