* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.fab-container {
  width: 70px;
  position: relative;
  z-index: 999;
  left: 30px;
}

.fab-icon-holder {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: #2c3e50 solid 3px;
  background: #ffffff;

  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  font-size: 25px;
  color: #2c3e50;
  height: inherit;
}

.fab-main {
  width: 60px;
  height: 60px;
}

.fab-options {
  list-style-type: none;
  margin: 0;

  opacity: 0;
  display: none !important;
  transition: all 0.3s ease;
}

.fab-options li {
  padding: 5px;
}

.fab-options.visible {
  opacity: 1;
  display: flex !important;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: #666666;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  margin-right: 10px;
}
