input[type="checkbox"] {
  width: 15px;
  padding: 0;
  margin: 0 0.5rem 0 0;
  align-self: flex-start;
}

.input-checkbox-header {
  width: 15px;
  margin-right: 0.5rem;
}

.input-text-header {
  width: 75px;
}
