<div class="home d-inline-flex overflow-x-auto">
  <app-main-form class="main-form-container d-flex justify-content-center"></app-main-form>
  <app-vd-nav (navChanged)="currentVD = $event"></app-vd-nav>
  <div class="vd-container" [ngSwitch]="currentVD">
    <app-vd-operaciones *ngSwitchCase="'operaciones'"></app-vd-operaciones>
    <app-vd-cotizaciones *ngSwitchCase="'cotizaciones'"></app-vd-cotizaciones>
    <app-vd-desglose *ngSwitchCase="'desglose'"></app-vd-desglose>
    <app-vd-alta-cliente *ngSwitchCase="'altaCliente'"></app-vd-alta-cliente>
    <app-vd-manejo-cliente *ngSwitchCase="'manejoCliente'"></app-vd-manejo-cliente>
    <app-vd-operaciones *ngSwitchDefault></app-vd-operaciones>
  </div>

</div>
