<div class="main-form-container d-flex justify-content-center">
  <div class="main-form bordered">
    {{ operacion | json }}
    <app-main-form-nav (navEvent)="handleNavEvent($event)"></app-main-form-nav>
    <!-- Alta - Baja - Edición de Operaciones -->
    <div class="section-content general-form-group">
      <div class="d-flex">
        <div class="d-flex flex-column mr-2">
          <label for="input-operacion" class="d-block">Operación
            <span class="fas fa-info-circle"
                  placement="top" ngbTooltip="Buscar operación por número, si no existe, crea uno nuevo"
            ></span>
          </label>
          <div class="main-input-group input-group input-group-sm">
            <input
              id="input-operacion"
              type="text"
              value="numOperacion"
              [value]="numOperacion"
              (input)="update('numOperacion', $event)"
              (keyup.enter)="showAlert('Ejemplo Alerta')"
            >
            <div class="input-group-append">
              <button
                class="btn btn-secondary"
                type="button"
                id="button-search"
                style="height: 1.5rem;"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="main-input-group">
          <label for="input-fecha">Fecha</label>
          <input id="input-fecha"
                 type="text"
                 [value]="fecha"
                 (input)="update('fecha', $event)"
          >
        </div>
        <div class="main-input-group">
          <label for="input-folio">Folio Com.</label>
          <input id="input-folio"
                 type="text"
                 [value]="folio"
                 (input)="update('folio', $event)"
          >
        </div>
        <div class="main-input-group d-block">
          <label for="input-refPagos">Referencia Pagos</label>
          <input id="input-refPagos"
                 type="text"
                 [value]="refPagos"
                 (input)="update('refPagos', $event)"
          >
        </div>
      </div>
      <div class="d-flex">
        <div class="main-input-group d-block">
          <label for="input-cliente">Cliente</label>
          <input id="input-cliente"
                 type="text"
                 [value]="cliente"
                 (input)="update('cliente', $event)"
          >
        </div>
      </div>
      <div class="d-flex">
        <div class="main-input-group">
          <label for="input-persona">Persona</label>
          <select
            class="w-100"
            id="input-persona"
            [value]="persona"
            (input)="update('persona', $event)"
          >
            <option>Física</option>
            <option>Moral</option>
          </select>
        </div>
        <div class="main-input-group d-block w-100">
          <label class="d-block" for="input-personaDesc">Descripción</label>
          <input class="w-100"
                 id="input-personaDesc"
                 type="text"
                 [value]="descripcion"
                 (input)="update('descripcion', $event)"
          >
        </div>
      </div>
      <div class="d-flex">
        <div class="main-input-group d-block">
          <label for="input-asesor">Asesor</label>
          <input id="input-asesor"
                 type="text"
                 [value]="asesor"
                 (input)="update('asesor', $event)"
          >
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="left-side">
        <!-- Otros Parámetros -->
        <section>
          <div class="section-header">
            Otros Parámetros
          </div>
          <div class="section-subheader">Impuestos</div>
          <div class="section-content d-flex flex-column align-items-end">
            <div class="main-input-group">
              <label for="input-iva">IVA</label>
              <input id="input-iva" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-empresa">Empresa</label>
              <input id="input-empresa" type="text">
            </div>
          </div>
          <div class="section-subheader">SeguroAuto</div>
          <div class="section-content d-flex flex-column align-items-end">
            <div class="main-input-group">
              <label for="input-comp">Compañía</label>
              <input id="input-comp" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-primaTotal">PrimaTotal</label>
              <input id="input-primaTotal" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-formaPago">FormaPago</label>
              <input id="input-formaPago" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-noPoliza">NoPoliza</label>
              <input id="input-noPoliza" type="text">
            </div>
            <div class="main-input-group d-flex">
              <label class="align-self-center m-0" for="input-financiado">Financiado</label>
              <input id="input-financiado" type="checkbox">
            </div>
            <div class="main-input-group">
              <label for="input-fechaInicio">FechaInicio</label>
              <input id="input-fechaInicio" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-fechaFinal">FechaFinal</label>
              <input id="input-fechaFinal" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-tipoUnidad">TipoUnidad</label>
              <input id="input-tipoUnidad" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-fechaPago">FechaPago</label>
              <input id="input-fechaPago" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-relacionPago">RelaciónPago</label>
              <input id="input-relacionPago" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-siniestros">Siniestros</label>
              <input id="input-siniestros" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-cantPolizas">CantPolizas</label>
              <input id="input-cantPolizas" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-sigVencimiento">Sig.Vcmto</label>
              <input id="input-sigVencimiento" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-precioAsegurado">$Asegurado</label>
              <input id="input-precioAsegurado" type="text">
            </div>
          </div>
        </section>
        <!-- Aplicar Operación -->
        <section>
          <div class="section-header">
            Aplicar Operación
          </div>
          <div class="section-content d-flex flex-column align-items-end">
            <div class="main-input-group">
              <label for="input-chequera">Chequera</label>
              <input id="input-chequera" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-sucursal">Sucursal</label>
              <input id="input-sucursal" type="text">
            </div>
          </div>
        </section>
        <!-- Comentarios -->
        <section>
          <div class="section-header">
            Comentarios
          </div>
          <div class="section-content d-flex flex-column align-items-end">
            <div class="main-input-group">
              <label style="font-weight: 700" for="input-comentarios">Comentarios</label>
              <textarea id="input-comentarios"></textarea>
            </div>
          </div>
        </section>
      </div>
      <div class="right-side">
        <!-- Financiamiento -->
        <section>
          <div class="section-header">
            Financiamiento
          </div>
          <div class="section-content d-flex flex-column align-items-end">
            <div class="d-flex flex-column mb-3 text-center">
              <label for="input-producto">Producto
                <span class="fas fa-info-circle"
                      placement="top"
                      ngbTooltip="Escriba nombre del producto"
                ></span>
              </label>
              <div class="main-input-group input-group input-group-sm">
                <input
                  id="input-producto"
                  type="text"
                  style="width: 100px;"
                >
                <div class="input-group-append">
                  <button
                    class="btn btn-secondary"
                    type="button"
                    id="button-search-product"
                    style="height: 1.5rem;"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div><!--d-flex flex-column mr-2-->
            <div class="main-input-group">
              <label for="input-fondeador">Fondeador</label>
              <input id="input-fondeador" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-noPagos">No. Pagos</label>
              <input id="input-noPagos" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-periodicidad">Periodicidad</label>
              <input id="input-periodicidad" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-valorOperacion">Valor Operación</label>
              <input id="input-valorOperacion" type="number">
            </div>
            <div class="main-input-group">
              <label for="input-productoTipo">Producto Tipo</label>
              <input id="input-productoTipo" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-tasaAnual">Tasa Anual</label>
              <input id="input-tasaAnual" class="text-center" type="text">
            </div>
            <div style="width: 75px; margin-top: 10px; text-align: center;"><label>Importe</label></div>
            <div class="main-input-group">
              <label for="input-anticipo">Anticipo</label>
              <input id="input-anticipo" class="text-center" type="text">
              <label class="block-label" for="input-impAnticipo"></label>
              <input disabled id="input-impAnticipo" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-seguroDeuda">SeguroDeuda</label>
              <input id="input-seguroDeuda" class="text-center" type="text">
              <label for="input-impSeguroDeuda"></label>
              <input disabled id="input-impSeguroDeuda" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-apertura">Apertura</label>
              <input id="input-apertura" class="text-center" type="text">
              <label for="input-impApertura"></label>
              <input disabled id="input-impApertura" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-deposito">Depósito</label>
              <input id="input-deposito" class="text-center" type="text">
              <label for="input-impDeposito"></label>
              <input disabled id="input-impDeposito" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-admin">Administración</label>
              <input id="input-admin" class="text-center" type="text">
              <label for="input-impAdmin"></label>
              <input disabled id="input-impAdmin" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-gps">GPS</label>
              <input id="input-gps" class="text-center" type="text">
              <label for="input-impGps"></label>
              <input disabled id="input-impGps" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-seguroAuto">SeguroAuto</label>
              <input id="input-seguroAuto" class="text-center" type="text">
              <label for="input-impSeguroAuto"></label>
              <input disabled id="input-impSeguroAuto" type="text">
            </div>
            <div class="main-input-group" style="margin-bottom: 10px;">
              <label for="input-valorRescate">ValorRescate</label>
              <input id="input-valorRescate" class="text-center" type="text">
              <label for="input-impValorRescate"></label>
              <input disabled id="input-impValorRescate" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-descuento">Descuento</label>
              <input id="input-descuento" type="text">
              <label for="input-impDescuento"></label>
              <input disabled id="input-impDescuento" type="text">
            </div>
            <div style="text-align: right;"><hr style="border-top: #000000 solid 1px; width: 75px"></div>
            <div class="main-input-group">
              <label for="input-total">Total Primer Pago</label>
              <input id="input-total" type="text">
            </div>
          </div><!-- section-content -->
        </section>
        <!-- Lotes Autos -->
        <section>
          <div class="section-header">
            Lote Autos
          </div>
          <div class="section-content d-flex flex-column align-items-end">
            <div class="main-input-group d-block mb-1" style="width: 100%">
              <label for="input-razonSocial">Razón Social</label>
              <input id="input-razonSocial" type="text">
            </div>
            <div class="d-flex">
              <div><label class="d-block m-0 mr-2 text-center" style="width: 75px;">Comisión</label></div>
              <div><label class="d-block m-0 text-center" style="width: 75px;">Importe</label></div>
            </div>
            <div class="main-input-group">
              <label for="input-sinIVA">Sin IVA</label>
              <input id="input-sinIVA" type="text">
              <label for="input-impSinIVA"></label>
              <input id="input-impSinIVA" type="text">
            </div>
            <div class="main-input-group mb-1">
              <label for="input-conIVA">Con IVA</label>
              <input id="input-conIVA" type="text">
              <label for="input-impConIVA"></label>
              <input id="input-impConIVA" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-lineaVenta">LineaVenta</label>
              <input id="input-lineaVenta" type="text">
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="ext-form-wrapper">
    <app-extension-form *ngIf="extensionActive"></app-extension-form>
  </div>
</div>
