.main-form {
  width: 500px;
  height: 850px;
  background: #e5e5e5;
  margin: 16px 0 16px 16px;
  overflow: hidden;

}

.main-input-group {
  flex-wrap: nowrap;
}

i {
  position: relative;
  top: -2px;
  color: #fff;
}

.general-form-group .main-input-group:not(:last-child) {
  margin-right: 4px;
}
