<div class="main-form-container d-flex justify-content-center">
  <div class="main-form bordered">
    <app-main-form-nav (navEvent)="handleNavEvent($event)"></app-main-form-nav>
    <app-general [operacion]="operacion"></app-general>
    <div class="d-flex">
      <div class="left-side">
        <app-otros-param></app-otros-param>
        <!-- Aplicar Operación -->
        <section>
          <div class="section-header">
            Aplicar Operación
          </div>
          <div class="section-content d-flex flex-column align-items-end">
            <div class="main-input-group">
              <label for="input-chequera">Chequera</label>
              <input id="input-chequera" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-sucursal">Sucursal</label>
              <input id="input-sucursal" type="text">
            </div>
          </div>
        </section>
        <!-- Comentarios -->
        <section>
          <div class="section-header">
            Comentarios
          </div>
          <div class="section-content d-flex flex-column align-items-end">
            <div class="main-input-group">
              <label style="font-weight: 700" for="input-comentarios">Comentarios</label>
              <textarea id="input-comentarios"></textarea>
            </div>
          </div>
        </section>
      </div>
      <div class="right-side">
       <app-financiamiento [operacion]="operacion"></app-financiamiento>
        <!-- Lotes Autos -->
        <section>
          <div class="section-header">
            Lote Autos
          </div>
          <div class="section-content d-flex flex-column align-items-end">
            <div class="main-input-group d-block mb-1" style="width: 100%">
              <label for="input-razonSocial">Razón Social</label>
              <input id="input-razonSocial" type="text">
            </div>
            <div class="d-flex">
              <div><label class="d-block m-0 mr-2 text-center" style="width: 75px;">Comisión</label></div>
              <div><label class="d-block m-0 text-center" style="width: 75px;">Importe</label></div>
            </div>
            <div class="main-input-group">
              <label for="input-sinIVA">Sin IVA</label>
              <input id="input-sinIVA" type="text">
              <label for="input-impSinIVA"></label>
              <input id="input-impSinIVA" type="text">
            </div>
            <div class="main-input-group mb-1">
              <label for="input-conIVA">Con IVA</label>
              <input id="input-conIVA" type="text">
              <label for="input-impConIVA"></label>
              <input id="input-impConIVA" type="text">
            </div>
            <div class="main-input-group">
              <label for="input-lineaVenta">LineaVenta</label>
              <input id="input-lineaVenta" type="text">
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="ext-form-wrapper">
    <app-extension-form *ngIf="extensionActive"></app-extension-form>
  </div>
</div>
