<div class="vd">
  <h1>Operaciones</h1>
  <div class="table-wrapper">
    <table class="table table-sm">
      <thead>
      <tr>
        <th style="width: 30px;">Operación</th>
        <th style="width: 40px">Fecha</th>
        <th style="width: 30px">No.Pagos</th>
        <th style="width: 100px">Referencia</th>
        <th style="width: 150px">Cliente</th>
        <th style="width: 100px">Descripción</th>
        <th style="width: 40px">Fondeador</th>
        <th style="width: 50px">ValorOperación</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let operacion of operaciones; index as i;">
        <td class="text-center" (click)="onSelected(i)">{{operacion.numOperacion}}</td>
        <td class="text-center">{{ operacion.fecha }}</td>
        <td class="text-center">{{ operacion.financiamiento?.noPagos || '' }}</td>
        <td class="text-center">{{ operacion.referenciaPagos }}</td>
        <td>{{operacion.cliente}}</td>
        <td>{{operacion.descripcion}}</td>
        <td class="text-center">{{operacion.financiamiento?.fondeador || ''}}</td>
        <td class="text-right">{{operacion.financiamiento?.valorOperacion || ''}}</td>
      </tr>
      </tbody>
    </table>
    {{ operacion | json }}
  </div>
</div>
