<div class="vd">
  <h1>Operaciones</h1>
  <div class="table-wrapper">
    <table class="table table-sm">
      <thead>
      <tr>
        <th style="width: 30px;">Operación</th>
        <th style="width: 40px">Fecha</th>
        <th style="width: 30px">No.Pagos</th>
        <th style="width: 100px">Referencia</th>
        <th style="width: 150px">Cliente</th>
        <th style="width: 100px">Descripción</th>
        <th style="width: 40px">Fondeador</th>
        <th style="width: 50px">ValorOperación</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">00000000</td>
        <td class="text-center">12-Sept-15</td>
        <td class="text-center">30</td>
        <td class="text-center">123413241234</td>
        <td>MERCADEO SSBC SA DE SV Y SU SEÑOR DE LOS CIELOS SBSC ATENDIENDO</td>
        <td>PRESTAMO AUTO</td>
        <td class="text-center">RP</td>
        <td class="text-right">$431,000</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
