<div class="ext-form bordered">
  <div class="section-header-1">Más</div>
  <div class="section-divided">
    <div class="left-side">
      <!-- Garantía -->
      <section>
        <div class="section-header">Garantía</div>
        <div class="section-content d-flex flex-column align-items-end">
          <div class="main-input-group green">
            <label for="input-saldoInicial">Saldo Inicial</label>
            <input id="input-saldoInicial" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-gtsCobranza">Gts Cobranza</label>
            <input id="input-gtsCobranza" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-Moratorios">Moratorios</label>
            <input id="input-Moratorios" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-seguroDeuda">Seguro Deuda</label>
            <input id="input-seguroDeuda" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-seguroAuto">Seguro Auto</label>
            <input id="input-seguroAuto" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-GPS">GPS</label>
            <input id="input-GPS" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-Admon">Admon</label>
            <input id="input-Admon" type="text" />
          </div>
        </div>
      </section>
    </div>
    <div class="right-side">
      <!-- Otros -->
      <section>
        <div class="section-header">Otros</div>
        <div class="section-content d-flex flex-column align-items-end">
          <div class="main-input-group green">
            <label for="input-idCliente">ID Cliente</label>
            <input id="input-saldoInicial" type="text" />
          </div>
          <div style="width: 75px; margin-top: 10px">
            <label>Facturas Financieras</label>
          </div>
          <div class="main-input-group green">
            <label class="font-mono" for="input-zC">ZC</label>
            <input id="input-zC" type="text" />
          </div>
          <div class="main-input-group green">
            <label class="font-mono" for="input-zI">ZI</label>
            <input id="input-zI" type="text" />
          </div>
          <div class="main-input-group green">
            <label class="font-mono" for="input-zG">ZG</label>
            <input id="input-zG" type="text" />
          </div>
          <div class="main-input-group green">
            <label class="font-mono" for="input-zA">ZA</label>
            <input id="input-zA" type="text" />
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Crédito -->
  <section>
    <div class="section-header">Crédito</div>
    <div class="section-content d-flex flex-column">
      <div class="d-flex">
        <div class="main-input-group green d-block">
          <label for="input-analista">Analista</label>
          <input id="input-analista" type="text" />
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div style="width: 75px; margin-top: 10px">
          <label>Importe Crédito</label>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column align-items-end">
          <div class="main-input-group green">
            <label for="input-ciudad">Ciudad</label>
            <input id="input-ciudad" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-sucursal">Sucursal</label>
            <input id="input-sucursal" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-canalventa">Canal Venta</label>
            <input id="input-canalventa" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-contacto">Contacto</label>
            <input id="input-contacto" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-tipoasesor">Tipo Asesor</label>
            <input id="input-tipoasesor" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-cappago">% Cap Pago</label>
            <input id="input-cappago" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-scoreburo">Score Buró</label>
            <input id="input-scoreburo" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-personalidad">Personalidad</label>
            <input id="input-personalidad" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-garante">Garante</label>
            <input id="input-garante" type="text" />
          </div>
        </div>
        <div class="d-flex flex-column align-items-end">
          <div class="main-input-group green">
            <label for="input-solicitado">Solicitado</label>
            <input id="input-solicitadi" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-autorizado">Autorizado</label>
            <input id="input-autorizado" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-fechafondeo">Fecha Fondeo</label>
            <input id="input-fechafondeo" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-estatuscred">Estatus Crédito</label>
            <input id="input-estatuscred" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-estatuscartera">Estatus Cartera</label>
            <input id="input-estatuscartera" type="text" />
          </div>
          <div style="width: 75px; margin-top: 10px">
            <label>Investigación</label>
          </div>
          <div class="d-flex flex-column">
            <div class="main-input-group green d-flex">
              <input id="input-domicilio" type="checkbox" />
              <label for="input-domicilio">Domicilio</label>
            </div>
            <div class="main-input-group green d-flex">
              <input id="input-laboral" type="checkbox" />
              <label for="input-laboral">Laboral</label>
            </div>
            <div class="main-input-group green d-flex">
              <input id="input-domic/lab" type="checkbox" />
              <label for="input-domic/lab">Domic/Laboral</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cobranza -->
  <section>
    <div class="section-header">Cobranza</div>
    <div class="section-content">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column align-items-end">
          <div class="main-input-group green">
            <label for="input-warning">Warning</label>
            <input id="input-warning" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-estatus">Estatus</label>
            <input id="input-estatus" type="text" />
          </div>
          <div class="main-input-group green">
            <label for="input-subestatus">SubEstatus</label>
            <input id="input-subestatus" type="text" />
          </div>
        </div>
        <div class="d-flex flex-column align-items-end">
          <div class="main-input-group green">
            <label for="input-estatus2">Estatus</label>
            <input id="input-estatus2" type="text" />
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between p-1">
        <div class="d-flex flex-column checkbox-group">
          <div class="main-input-group green d-flex">
            <input id="input-especial" type="checkbox" />
            <label for="input-especial">Especial</label>
          </div>
          <div class="main-input-group green d-flex">
            <input id="input-sinpago" type="checkbox" />
            <label for="input-sinpago">Sin Pago</label>
          </div>
          <div class="main-input-group green d-flex">
            <input id="input-pagocero" type="checkbox" />
            <label for="input-pagocero">Pago Cero</label>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="main-input-group green d-flex">
            <input id="input-fraude" type="checkbox" />
            <label for="input-fraude">Fraude</label>
          </div>
          <div class="main-input-group green d-flex">
            <input id="input-incobrable" type="checkbox" />
            <label for="input-incobrable">Incobrable</label>
          </div>
          <div class="main-input-group green d-flex">
            <input id="input-quebranto" type="checkbox" />
            <label for="input-quebranto">Quebranto</label>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="main-input-group green d-flex">
            <input id="input-demanda" type="checkbox" />
            <label for="input-demanda">Demanda</label>
          </div>
          <div class="main-input-group green d-flex">
            <input id="input-adjudicado" type="checkbox" />
            <label for="input-adjudicado">Adjudicado</label>
          </div>
          <div class="main-input-group green d-flex">
            <input id="input-siniestro" type="checkbox" />
            <label for="input-siniestro">Siniestro</label>
          </div>
        </div>
      </div>
      <div class="main-input-group green" style="margin-top: 1rem">
        <label class="d-block" style="font-weight: 700" for="input-comentarios"
          >Comentarios</label
        >
        <textarea class="d-block" id="input-comentarios"></textarea>
      </div>
    </div>
  </section>
</div>
