.ext-form {
  width: 360px;
  height: 750px;
  border-left: none;
  background: #AEC4B8;
  margin: 16px 0;
}

.ext-form .section-divided {
  display: flex;
}

.left-side {
    width: 180px;
    height: auto;
}

.right-side {
  width: 180px;
}

.section-header{
    background: #32463B;
}

.main-form{
    background: #AEC4B8;
}

.section-header-1{
    background: #000000;
    color: #ffffff;
}
